<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container text-center">
    <span>Copyright &copy; <%= link_to "Namita Manohar", "https://www.linkedin.com/in/namita-manohar", class:"text-white" %></span>
  </div>
</footer>